version: "3.5"
services:
  deluge:
    image: jemyzhang/deluge
    container_name: deluge
    hostname: deluge
    stdin_open: true
    tty: true
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Shanghai
    volumes:
      - ./config:/config
      - ./downloads:/downloads
    network_mode: "host"
    dns:
      - 8.8.8.8
    restart: unless-stopped

